
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Cage 3</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="../../content/images/carte.png" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <strong>Puissance du signal : </strong><span style="color:green"> Parfait </span><fa-icon [icon]="'signal'"></fa-icon>
<br/>
<strong>Température : </strong> <span style="color:red"> 31°c </span>
<br/>
<strong> Niveau de batterie :</strong> <span style="color:red"> 6 % </span>
<br/>
<strong>Date pose de cage :</strong> 25/02/19 9:36
<br/>
<strong>Poseur de la cage :</strong> <span style="color:blue"> Vincent </span>
<br/>
<strong>Ouverte depuis :</strong> 1h36
<br/>
<strong>Lat:</strong> 45.034019 / <strong>Lon: </strong>
6.390776
  </mat-card-content>
  <mat-card-actions>
  <button mat-button>Tester la cage</button>
</mat-card-actions>
</mat-card>
