<mat-grid-list cols="2" rowHeight="3:3">
  <mat-grid-tile>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Cage 3</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="../../content/images/carte.png" alt="Map of cage 3">
  <mat-card-content>
    <strong>Puissance du signal : </strong><span style="color:green"> Très bon </span><fa-icon [icon]="'signal'"></fa-icon>
<br/>
<strong>Température : </strong> <span style="color:red"> 31°c </span>
<br/>
<strong> Niveau de batterie :</strong> <span style="color:red"> 6 % </span>
<br/>
<strong>Date pose de cage :</strong> 25/02/19 9:36
<br/>
<strong>Poseur de la cage :</strong> <span style="color:blue"> Vincent </span>
<br/>
<strong>Ouverte depuis :</strong> 1h36
<br/>
<strong>Lat:</strong> 45.034019 / <strong>Lon: </strong>
6.390776
  </mat-card-content>
  <mat-card-actions>
  <button mat-button>TESTER LA CAGE</button>
</mat-card-actions>
</mat-card>
</mat-grid-tile>
<mat-grid-tile>
  <TABLE BORDER>
  	<TR>
  		<TH>Date</TH>
  		<TH>Niveau signal</TH>
  		<TH>Etat porte</TH>
      <TH>Personnel en intervention</TH>
      <TH>Température</TH>
  	</TR>
  	<TR>
  		<TD>25/02/2019 9h35m10s</TD>
  	    	<TD>Très bon</TD>
  	    	<TD>Ouverte</TD>
          <TD></TD>
          <TD>8,4 °C</TD>
  	</TR>
  	<TR>
  		<TD>25/02/2019 9h35m8s</TD>
  	    	<TD>Très bon</TD>
  	    	<TD>Ouverte</TD>
          <TD></TD>
          <TD>8,4 °C</TD>
  	</TR>
    	<TR>
  		<TD>25/02/2019 9h35m6s</TD>
  	    	<TD>Très bon</TD>
  	    	<TD>Ouverte</TD>
          <TD></TD>
          <TD>8,4 °C</TD>
  	</TR>
    	<TR>
  		<TD>25/02/2019 9h35m4s</TD>
  	    	<TD>Très bon</TD>
  	    	<TD>Ouverte</TD>
          <TD></TD>
          <TD>8,4 °C</TD>
  	</TR>
    	<TR>
  		<TD>25/02/2019 9h35m2s</TD>
  	    	<TD>Très bon</TD>
  	    	<TD>Ouverte</TD>
          <TD></TD>
          <TD>8,4 °C</TD>
  	</TR>
      	</TR>
    	<TR>
  		<TD>25/02/2019 9h35m0s</TD>
  	    	<TD>Bon</TD>
  	    	<TD>Ouverte</TD>
          <TD></TD>
          <TD>8,3 °C</TD>
  	</TR>
    	</TR>
    	<TR>
  		<TD>25/02/2019 9h34m58s</TD>
  	    	<TD>Bon</TD>
  	    	<TD>Ouverte</TD>
          <TD></TD>
          <TD>8,3 °C</TD>
  	</TR>
    	</TR>
    	<TR>
  		<TD>25/02/2019 9h34m56s</TD>
  	    	<TD>Bon</TD>
  	    	<TD>Ouverte</TD>
          <TD></TD>
          <TD>8,3 °C</TD>
  	</TR>
    	</TR>
    	<TR>
  		<TD>25/02/2019 9h34m54s</TD>
  	    	<TD>Très bon</TD>
  	    	<TD>Ouverte</TD>
          <TD></TD>
          <TD>8,1 °C</TD>
    	<TR>
  		<TD>25/02/2019 9h34m52s</TD>
  	    	<TD>Très bon</TD>
  	    	<TD>Ouverte</TD>
          <TD></TD>
          <TD>8,1 °C</TD>
  	</TR>

  	</TR>
  </TABLE>
</mat-grid-tile>
</mat-grid-list>
