<div>
    <h2><span>Cartographie des cages</span></h2>
    <strong>Légende :</strong><br />
    <img src="../../../../../../node_modules/leaflet/dist/images/marker-icon-green.png"> Cage ouverte <img src="../../../../../../node_modules/leaflet/dist/images/marker-icon-orange.png"> Cage fermée (sans biologiste en charge) <img src="../../../../../../node_modules/leaflet/dist/images/marker-icon.png"> Cage fermée (biologiste en charge) <img src="../../../../../../node_modules/leaflet/dist/images/marker-icon-red.png"> Cage sans signal
    <hr>
    <jhi-alert-error></jhi-alert-error>

    <div class="leaflet-container leaflet-fade-anim leaflet-grab leaflet-touch-drag" style= "width: 840px; height: 560px; outline: medium none currentcolor;  border-style: solid;  border-color: black;"
         leaflet
         [leafletOptions]="options"
         (leafletMapReady)="onMapReady($event)"
         [leafletLayersControl]="layersControl">
    </div>
<div class="table-responsive" *ngIf="maps">
    <table class="table table-striped">
        <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let map of maps ;trackBy: trackId">
</tr>
</tbody>
</table>




</div>
</div>
